@import "variables";

.nav {
  height: 36px;
  line-height: 36px;
  font-size: 0.8rem;
  font-weight: 600;
  padding-top: 27px;
  padding-bottom: 15px;
}

.nav a {
  text-decoration: none;
  color: $primary;
}

.nav-logo {
  float: left;
  margin-right: 16px;
  width: 160px;
  position: relative;
  top: 3px;
  z-index: 20;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.nav-menu-wrapper {
  display: inline-block;
}

/* Tablets and up */
@media only screen and (min-width : 768px) {
  .small-screen-only {
    display: none;
  }

  .nav-item {
    padding: 0 9px;
  }
}

/* Phones */
@media only screen and (max-width : 767px) {
  .large-screen-only {
    display: none;
  }

  .nav-menu-wrapper .nav-item {
    display: block;
    font-size: 1.3rem;
    margin: 1.4rem 0;
  }

  .nav-menu-container hr {
    margin: 0;
  }

  .nav-menu-wrapper {
    display: none;
  }

  .menu-open .nav-menu-wrapper {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    border-radius: 10px;
    font-weight: 300;
    background: rgba(255, 255, 255, 0.95);
    padding-top: 50px;
    z-index: 10;
  }

  .menu-open .nav-menu-container {
    max-width: 500px;
    padding: 10px 20px;
    margin: 0 auto;
    text-align: center;
  }

  .nav-toggle {
    position: relative;
    top: 3px;
    display: block;
    cursor: pointer;
  }

  .menu-open .nav-toggle {
    z-index: 20;
  }

  .nav-toggle span {
    background: $primary;
    display: block;
    height: 2px;
    width: 24px;
    margin: 5px;
    clear: both;
  }
}
