@import "variables";

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  @media only screen and (min-width : 768px) {
    font-size: 16px;
  }
  font-weight: 500;
  line-height: 1.4rem;
  color: $text-muted;
}

b {
  font-weight: 700;
}

a {
  color: $primary;
  text-decoration: none;
}

h2 {
  color: $text-main;
  padding-top: 1.7rem;
  margin-top: 0;
  font-size: 1.45rem;
}

h3 {
  color: $text-main;
  font-size: 1.2rem;
  font-weight: 600;
}

@media only screen and (min-width : 768px) {
  h2 {
    font-size: 2.05rem;
    line-height: 2.1rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  body {
    font-weight: 300;
  }
}

ul, ol {
  padding-left: 2rem;
}

li {
  margin-bottom: 1rem;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 2rem 0;
}

.muted {
  color: $text-muted;
}
