.u-link-clean {
  color: initial !important;
}

.u-link-clean:hover {
  text-decoration: none !important;
}

.u-color-secondary {
  color: #7c83b4 !important;
}

.u-fill-secondary > * {
  fill: #7c83b4 !important;
}
